<% provide(:title, "About") %>
<h1>About</h1>

<p>
	This is a sample app to demonstrate the usefulness of <a href="https://stripe.com/connect">Stripe Connect</a>.  The end goal of this app is to create a platform for Christian mission field funding.  Church admins will register to create funding campaigns which will be visible to all who visit the site.  Visitors to the site will be able to donate to funding campaigns of their choice.  Donations will be handled through <a href="https://stripe.com/checkout">Stripe Checkout</a> or <a href="https://stripe.com/elements">Stripe Elements</a>.  
</p>